#home {
    background-image: url("https://cdn.pixabay.com/photo/2016/11/23/14/45/coding-1853305_960_720.jpg");
    background-color: #cccccc;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    font-family: 'Poppins', 'Rubik', 'Roboto', 'Cardo', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#home img {
    height: 50px;
    position: relative;
    top: 5px;
}

#home h1 {
    font-size: 50px;
    color: white;
    position: relative;
    left: -20px;
}

@media(max-width:650px) {
    #home h1 {
        font-size: 30px;
        margin-left: 12px;
    }
    #home img {
        height: 30px;
    }
    #content {
        flex-direction: column;
    }
    .link {
        width: 90% !important;
        margin: 10px;
    }
}

#content {
    width: 50%;
    margin-top: 25px;
}

@keyframes contact {
    0% {
        border-color: white;
    }
    100% {
        border-color: rgb(23, 24, 24);
    }
}

#contact {
    animation-name: contact;
    animation-duration: .5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

.link {
    background-color: #D5D8DC;
    border: 2px solid white;
    padding: 15px;
    width: 30%;
    text-align: center;
    border-radius: 10px 0px 10px 0px;
    cursor: pointer;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.link:hover {
    background-image: linear-gradient(45deg, black, rgb(0, 0, 112));
    color: white;
    text-decoration: none;
}